<?xml version='1.0' encoding='utf-8'?>
<widget id="com.softwrenchsolutions.sw4" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <name>softWrench</name>
    <description>
        Maximo Simplified
    </description>
    <author email="info@controltechnologysolutions.com" href="http://www.controltechnologysolutions.com">
        Control Technology Solutions
    </author>
    <feature name="NetworkStatus">
        <param name="ios-package" value="CDVConnection" />
    </feature>
    <access origin="http://code.jquery.com" subdomains="true" />
    <content src="index.html" />
    <access origin="*" />
</widget>
