<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>softWrench Mobile</title>
    <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <script type='text/javascript' src='js/angular.min.js'></script>
    <script type='text/javascript' src='js/app-controller.js'></script>
    <script type='text/javascript' src='js/app-logging.js'></script>
</head>
<body ng-app="swMobile" ng-controller="SigninController">
<div class="container">
    <div class="signin clearfix">
        <div class="logo"></div>
        <div class="app">
            <form name="signinForm" ng-submit="signin()" novalidate>
                <!--<p>Where do you want to connect to:</p>-->
                <!--<input id="url" type="url" name="swurl">-->
                <div class="form-group">
                    <label class="control-label">Server</label>
                    <input class="form-control" ng-model="server" name="server" type="url" required>
                </div>
                <div ng-show="signinForm.server.$error.required && !signinForm.server.$pristine"
                     class="alert alert-danger">
                    Error: Server is required.
                </div>
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input class="form-control" ng-model="username" name="username" type="text" required>
                </div>
                <div ng-show="signinForm.username.$error.required && !signinForm.username.$pristine"
                     class="alert alert-danger">
                    Error: Username is required.
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input class="form-control" ng-model="password" name="password" type="password" required>
                </div>
                <div ng-show="signinForm.password.$error.required && !signinForm.password.$pristine"
                     class="alert alert-danger">
                    Error: Password is required.
                </div>

                <!--TODO: add ng-disabled="signinForm.server.$invalid || signinForm.username.$invalid || signinForm.password.$invalid"-->
                <button class="btn" type="submit">Login</button>
                <div class="test">JSON: {{json}}</div>
            </form>
        </div>
    </div>
</div>
</body>
</html>